.container {
  display: flex;

  max-width: 70rem;
  margin: 0 auto;
max-height: 23rem;
  align-items: end;
}
.top_btn {
  display: flex;
  gap: 1rem;
}

.contact_from {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.form_control input {
  height: 2.5rem;
  padding: 0 8px;
}
.form_control label {
  font-size: 14px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}
.contact_img img {
  max-width: 25rem;
  max-height: 30rem;
}
